.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body{
    background-size:cover;
}

.play_button
{
    width: 130px;
    font-size: 15px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}

#songply
{
    background-color: blueviolet;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
    color: chartreuse;
}